<form class="" action="index.html" method="post">
  <div class="form-group">
    <label>Course</label>
    <input type="text" name="course" value="<%= @courses.name %>">
  </div>
  <div class="form-group">
    <label>Stream</label>
    <input type="text" name="stream" value="<%= @courses.course_type %>">
  </div>
  <div class="form-group">
    <label>Start Date</label>
    <input type="text" name="dates" value="<%= @courses.start_date %>">
  </div>
  <div class="form-group">
    <label>End Date</label>
    <input type="text" name="dates" value="<%= @courses.end_date %>">
  </div>

  <div class="form-group">
    <input type="submit" name="" value="submit">
  </div>

</form>
