<nav class="navbar navbar-expand-lg navbar" style="background-color:#B0C4DE;">
  <a class="navbar-brand" href="/">
  <img src="/images/1024px-Green_tick.svg.png" class="logo" alt="" height="50px">
</a>
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
 </button>
 <div class="collapse navbar-collapse" id="navbarNav">
   <ul class="navbar-nav">
     <li class="nav-item active">
       <a class="btn " href="/">Home <span class="sr-only">(current)</span></a>
       <!-- <a class="btn " href="/courses">Courses</a> -->
       <a class="btn " href="/students">Students</a>
       <div class="dropdown" id="navbarDropDown">
          <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Courses
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/courses">View Courses</a>
            <a class="dropdown-item" href="/courses/new">Add Course</a>
          </div>
        </div>
     </li>
   </ul>
   <div class="input-group mb-3 col-6 mt-3 ml-5">

     <form action="/search" method="post">

       <input type="text" name="searchBar" class="form-control" placeholder="Search Student Name" aria-label="Recipient's username" aria-describedby="button-addon2">
       </input>
       <button class="btn btn-secondary" type="submit" id="button-addon2">Search</button>
     </form>

   </div>
 </div>

</nav>

<br>
