<div class="card text-center">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Course[]</h5>
    <h4 class="card-text">Stream[]</h4>
    <a href="#" class="btn btn-primary">View</a>
  </div>
  <div class="card-footer text-muted">
    
  </div>
</div>
