
<form class="" action="/courses/<%= @course.course_id %>" method="post">
  <a class="btn btn-primary" href="/students/new">Add Student</a>
  <a class="btn btn-primary" href="">Edit Attendance</a>

  <input class="btn btn-primary" type="hidden" name="_method" value="delete">
  <input class="btn btn-primary" type="submit" value="Remove Course">
</form>
<hr>
<div class="">
  <ul>
    <% @students.each do |student|%>
    <li><%= student.first_name %> <%= student.last_name %></li>
    <% end %>
  </ul>
</div>
