<!-- dispplays individual student attendance record -->
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Attendance Status</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <% @attendance_record.each do |daily_record| %>
    <tr>
      <td> <%= daily_record.attendance_date %> </td>
      <td> <%= daily_record.status  %></td>
      <td> <%= daily_record.description  %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
